@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

SSL COLOMBIA

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #f4d700;
$tertiary_color: #383838;
$background_1: #e6e7eb;
$background_2: #f1f1f0;
$background_3: #5b5b5f;
$border: #5b5b5f;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	.moduletable_to1 {
		span {
			&.text_top {
				color: $tertiary_color;
			}
			&.text_bottom {
				color: #7c7c7c;
				a {
					color: #7c7c7c;
				}
			}
		}
		a {
			i {
				color: $secondary_color;
			}
		}
	}
}

.top_2 {
	background-color: $secondary_color;
	.moduletable_to2 {}
	.moduletable_to3 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(moduletable_to3_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $tertiary_color;
								color: #fff;
							}
							ul.sub-menu {
								a {
									background-color: #fff;
									color: $tertiary_color;
								}
							}
						}
						a {
							padding: 15px;
							color: $tertiary_color;
							text-transform: uppercase;
							&:hover {
								background-color: $tertiary_color;
								color: #fff;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $tertiary_color;
								}
							}
						}
						ul.sub-menu {
							padding: 5px 10px;
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								height: inherit;
								padding: 5px 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 8px 10px;
									border: none;
									font: {
										size: 12px;
										weight: normal;
									}
									color: $tertiary_color;
									text: {
										transform: inherit;
										align: center;
									}
									z-index: 100;
									&:hover {
										background-color: $tertiary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to4 {
		/*padding: 10px 0;*/
		p {
			margin: 0;
		}
		a {
			color: $background_3;
		}
		#a,
		#c {
			font-family: 'Roboto', sans-serif;
			color: $background_3;
			.line_1 {
				font-size: 12px;
			}
			.line_2 {
				font-size: 24px;
				line-height: 20px;
				letter-spacing: 1px;
			}
		}
		#b {
			img {
				height: 80px;
			}
		}
	}
}

.logo_hide {
	display: none;
}

.f-nav {
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 9999;
	.logo_hide {
		display: inherit;
	}
}

/* Banner */

.banner {}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		width: 260px;
		margin: auto;
		padding: 15px 0;
		border: {
			top: 1px solid $border;
			bottom: 1px solid $border;
		}
		font-size: 24px;
		color: $primary_color;
	}
	h2 {
		&.landing {
			margin: 0;
			padding: 20px 0;
			background: {
				image: url(h2_landing_bg.png), url(h2_landing_bg.png);
				position: top, bottom;
				repeat: no-repeat, no-repeat;
			}
			font: {
				family: 'Roboto', sans-serif;
				size: 24px;
			}
			color: $background_3;
		}
	}
	h3 {
		font-size: 18px;
		&.landing {
			margin: 0;
			font: {
				family: 'Roboto', sans-serif;
				size: 24px;
			}
			color: $background_3;
		}
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			font-size: 16px;
			color: $primary_color;
			display: block;
		}
	}
	a {
		color: $primary_color;
		text-decoration: underline;
		&.button {
			margin: 0;
			background-color: $secondary_color;
			color: $background_3;
			text-decoration: none;
		}
		&.special {
			margin: 0;
			background-color: $secondary_color;
			color: $background_3;
			text: {
				decoration: none;
				transform: uppercase;
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $border;
			color: #fff;
		}
	}
	.box_1 {
		background-color: $background_1;
	}
	.img_custom {
		height: 80px;
		object-fit: contain;
	}
	.float-whatsapp {
		top: 50%;
		right: 0;
		padding: 10px;
		position: fixed;
	}
	.moduletable_le1 {
		.so-panel {
			margin-bottom: 15px !important;
		}
		.woocommerce-product-search {
			button {
				width: 100%;
				padding: 10px;
				background-color: $secondary_color;
				border-radius: 0;
				display: block;
			}
		}
		.bapf_sfilter {
			.bapf_head {
				h3 {
					margin-bottom: 10px;
					text-align: center;
				}
			}
			.bapf_body {
				ul {
					li {
						input[type=checkbox] {
							margin: 0;
						}
					}
				}
			}
		}
	}
	.woocommerce {
		h1.page-title {
			width: inherit;
			margin-bottom: 30px;
			text-align: center;
		}
		ul.products {
			li.product-category,
			li.product {
				padding: 10px;
				background-color: #fff;
				border: 1px solid #ccc;
				text-align: center;
				a,
				a.woocommerce-LoopProduct-link {
					h2.woocommerce-loop-category__title {
						min-height: 60px;
						padding: 0;
					}
					h2.woocommerce-loop-product__title {
						min-height: 80px;
						margin-bottom: 10px;
						padding: 0;
					}
					span.price {
						margin: 0;
						margin-bottom: 10px;
						font: {
							size: 24px;
							weight: bold;
						}
						color: green;
					}
				}
				a.button {
					margin: 0;
					color: #000;
					display: block;
				}
			}
		}
		.product {
			.summary {
				h1.product_title {
					width: 100%;
					margin: 0;
					margin-bottom: 10px;
					border: 0;
					color: $primary_color;
				}
				p.price {
					margin-bottom: 10px;
					font: {
						size: 24px;
						weight: bold;
					}
					color: green;
				}
				p {
					a.button {
						color: #000;
					}
				}
				.cart {
					table.variations {
						tbody {
							background-color: transparent;
							border: 0;
							tr {
								th.label {
									padding: 15px 10px;
									background-color: transparent;
								}
								td.value {
									select {
										margin: 0;
									}
								}
							}
						}
					}
					.single_variation_wrap {
						.woocommerce-variation-price {
							margin-bottom: 10px;
							span.price {
								color: $secondary_color;
							}
						}
					}
					.qib-button-wrapper {
						width: 180px;
						margin: 0;
						float: left;
						position: relative;
						button {
							&.minus,
							&.plus {
								background-color: $secondary_color;
								border-radius: 0;
								color: #000;
							}
						}
					}
					.button {
						margin: 0;
						padding: 13px 20px;
						color: #000;
						text-transform: uppercase;
					}
				}
			}
			ul.tabs {
				li.tabs-title {
					a {
						color: #000;
						text-decoration: none;
					}
				}
			}
			.tabs-content {
				margin-bottom: 30px;
				a {
					text-decoration: none;
				}
				i {
					font-size: 50px;
				}
			}
		}
		a,
		button {
			&.button,
			&.button.alt.disabled {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.products {
		background-color: $background_2;
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	.moduletable_b11 {
		h3 {
			width: 260px;
			margin: auto;
			padding: 15px 0;
			border: {
				top: 1px solid $border;
				bottom: 1px solid $border;
			}
			font-size: 24px;
			color: $primary_color;
		}
		a {
			color: $primary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			width: 260px;
			margin: auto;
			padding: 15px 0;
			border: {
				top: 1px solid $border;
				bottom: 1px solid $border;
			}
			font-size: 24px;
			color: $primary_color;
		}
		.so-panel {
			margin: 0 !important;
		}
		.sa_hover_container {
			div:nth-child(2) {
				display: none;
			}
		}
		.item {
			overflow: hidden;
			position: relative;
			&:hover {
				.item-overlay {
					top: 0;
				}
			}
			.item-overlay {
				width: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(244, 215, 0, 0.9);
				text-align: center;
				overflow: hidden;
				position: absolute;
				-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
				top: 300px;
				h4 {
					margin: 15px 0;
					font-size: 18px;
				}
				p {
					padding: 0 10px;
					font-size: 14px;
					a {
						&.button {
							background-color: $primary_color;
							border: 1px solid $primary_color;
							border-radius: 0;
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background-color: $background_1;
	.moduletable_b31 {
		h3 {
			width: 260px;
			margin: auto;
			padding: 15px 0;
			border: {
				top: 1px solid $border;
				bottom: 1px solid $border;
			}
			font-size: 24px;
			color: $primary_color;
		}
		#nuestros_clientes {
			.owl-prev {
				left: -25px;
			}
			.owl-next {
				right: -25px;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	margin: 30px 0;
	padding: 30px 0;
	background: {
		image: url(block_4_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b41 {
		h3 {
			margin: 0;
			font-size: 24px;
			color: #fff;
		}
		.button {
			margin: 0;
			padding: 5px 15px;
			background-color: $secondary_color;
			border-radius: 0;
			color: $background_3;
		}
	}
}

/* Newsletter */

.newsletter {
	padding: 30px 0;
	background-color: $background_2;
	.moduletable_n1 {
		h2 {
			width: 50%;
			margin: 0;
			font-size: 18px;
			text-align: center;
			float: left;
			position: relative;
		}
		.tnp-widget {
			width: 50%;
			float: left;
			position: relative;
			.tnp-field {
				margin: 0;
			}
			.tnp-field-email {
				width: 50%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				input.tnp-email {
					margin: 0;
					background-color: #fff;
				}
			}
			.tnp-field-button {
				width: 30%;
				float: left;
				position: relative;
				input.tnp-submit {
					margin: 0;
					background-color: $secondary_color;
					color: $background_3;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	.moduletable_bo1 {
		h3 {
			font: {
				size: 16px;
				weight: bold;
			}
		}
		a {
			color: $primary_color;
			&.button {
				background-color: $secondary_color;
				color: $background_3;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $background_3;
	color: #fff;
	a {
		color: #fff;
	}
}

/* 404 */

.cuatro_cero_cuatro {
	padding: 20vh 0;
	img {
		width: 400px;
	}
	h1 {
		.line_1 {
			font-size: 80px;
		}
		.line_2 {
			font-size: 120px;
			line-height: 60px;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to1 {
			.panel-grid-cell {
				margin-bottom: 10px !important;
			}
		}
	}

	.top_2 {
		.moduletable_to3 {
			margin: 15px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: $primary_color;
					text-align: center;
					button {
						&:after {
							background: $primary_color;
							box-shadow: 0 7px 0 $primary_color, 0 14px 0 $primary_color;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						padding-top: 10px;
						li {
							width: 100%;
							background: none;
							a {
								width: 100%;
								padding: 5px 10px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.moduletable_to4 {
			#a,
			#c {
				.line_2 {
					font-size: 14px;
					line-height: 14px;
				}
			}
			#b {
				margin-bottom: 10px;
			}
		}
	}

	/* Content */

	.content {
		.float-whatsapp {
			top: inherit;
			bottom: 0;
		}
		&.full-width {
			.max {
				padding: {
					left: 10px;
					right: 10px;
				}
			}
		}
	}

	/* Block 2 */

	.block_2 {
		.moduletable_b21 {
			.panel-grid-cell {
				margin: 0 !important;
				img {
					width: 100%;
				}
			}
		}
	}

	/* Newsletter */

	.newsletter {
		.moduletable_n1 {
			h2 {
				width: 100%;
				margin-bottom: 10px;
				font-size: 16px;
				float: none;
			}
			.tnp-widget {
				width: 100%;
				float: none;
				.tnp-field-email {
					width: 60%;
				}
				.tnp-field-button {
					width: 40%;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {

	/* Top */

	.top_2 {
		.moduletable_to3 {
			.top-bar {
				#responsive-menu {
					ul.menu {
						li {
							&#menu-item-11 {
								ul.sub-menu {
									width: 640px;
									margin-left: -220px;
									padding: 0;
									background-color: #fff;
									li {
										width: 160px;
										padding: 0;
										border: none;
										float: left;
										position: relative;
										&.menu-item-109 {
											a {
												background-image: url(moduletable_to3_1_bg.png);
											}
										}
										&.menu-item-132 {
											a {
												background-image: url(moduletable_to3_2_bg.png);
											}
										}
										&.menu-item-161 {
											a {
												background-image: url(moduletable_to3_3_bg.png);
											}
										}
										&.menu-item-178 {
											a {
												background-image: url(moduletable_to3_4_bg.png);
											}
										}
										a {
											min-height: 155px;
											padding-top: 120px;
											background: {
												position: top;
												repeat: no-repeat;
												position: center 10px;
												size: 100px 100px;
											}
											text-align: center;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}